a:link {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Segoe UI';
    font-style: normal;
}

a:hover {
    font-size: 16px;
    color: yellow;
}
.tb5 {
    border:2px solid #456879;
    border-radius:10px;
    height:22px;
    width:230px;
}
.fb8{
    border:2px solid #777;
    border-radius:10px;
    outline:none;
}